.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
    font-size: 20px;
    font-family: fantasy;
    font-weight: 400;
    color: white;
}

body{
    background-color: rgb(245,245,220);
    font-family: fantasy;
    margin: 20px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
}

.grid img{
    border: 2px solid blacl;
    border-radius: 50px;
}

.origami{
    border-radius: 20px;
    background-color: #ffffff;
    width: 310px;
    font-family: fantasy;
    margin: 30px;
    padding: 10px;
}

a:link{
    color:white;
    font-size: 20px;
    font-family: fantasy;
    font-weight: 400;
}
a:visited{
    color: white;
    font-size: 20px;
    font-family: fantasy;
    font-weight: 400;
}